@import '~bootstrap/scss/bootstrap';

body {
  margin-top: 20%;
  background-size: cover;
  background-position: center;
  animation: backgroundChange 120s linear infinite;
  @keyframes backgroundChange {
    0% { background-image: url('https://i.giphy.com/media/3o6ozvv0zsJskzOCbu/giphy.webp') }

    25% { background-image: url('https://i.giphy.com/media/hVlZnRT6QW1DeYj6We/giphy.webp') }

    50% { background-image: url('https://i.gifer.com/45RU.gif') }

    75% { background-image: url('https://i.pinimg.com/originals/a8/73/37/a87337bb2065af5a24121b6c5fae04cb.gif') }

    90% { background-image: url('https://media0.giphy.com/media/l11LqGYmIt2iPumHTg/giphy.gif') }

    100% { background-image: url('https://i.giphy.com/media/3o6ozvv0zsJskzOCbu/giphy.webp') }
  }
  background-color: black;
}

#emptyH1 {
  font-size: 65px;
  text-align: center;
  margin-top: 5%;
}

#site-title {
  font-size: 65px;
  text-align: center;
  animation: colorChange 15s infinite;
  @keyframes colorChange {
    0%  { color: red }
    50%  { color: white }
    90% { color: blue }
    100% { color: red }
  }
}

#joke-title {
  font-size: 65px;
  text-align: center;
  animation: colorChange 15s infinite;
  @keyframes colorChange {
    0%  { color: red }
    50%  { color: white }
    90% { color: blue }
    100% { color: red }
  }
}

#signUp {
  font-size: 300%;
  text-shadow: 0 1px white;
  width: 50%;
  text-align: center;
  color: black;
  background-image: url('./public/images/Typhlosion.webp');
  background-size: 30%;
  background-position-x: 5%;
  background-position-y: 15%;
}

#signIn {
  font-size: 300%;
  text-shadow: 0 1px white;
  margin-left: 25%;
  width: 50%;
  text-align: center;
  color: black;
  background-image: url('./public/images/Mewtwo.webp');
  background-size: 30%;
  background-position-x: 5%;
  background-position-y: 15%;
}

#changePassword {
  font-size: 200%;
  text-shadow: 0 1px white;
  width: 70%;
  text-align: center;
  color: black;
  background-image: url('./public/images/Pikachu.webp');
  background-size: 50%;
  background-position-x: 10%;
  background-position-y: 20%;
}

#signOut {
  font-size: 200%;
  text-shadow: 0 1px white;
  width: 70%;
  text-align: center;
  color: black;
  background-image: url('./public/images/Eevee.webp');
  background-size: 50%;
}

#close {
  color: red;
  background-color: black;
  position:absolute; left:0;
}

#yesSignOut {
  position:absolute; left:0%; bottom:0%;
  width: 30%;
}

#noSignOut {
  position:absolute; right:0%; bottom:0%;
  width: 30%;
}

.signUp {
  display: inline;
  margin-left: 25%;
  text-align: center;
}

.signIn {
  display: inline;
  text-align: center;
}

.changePassword {
  display: inline;
  position:absolute; top:0; left:0;
  text-align: center;
}

.signOut {
  display: inline;
  position:absolute; top:0; right:0;
  text-align: center;
}

//knockKnocks modal button
.knockKnocks {
  display: inline;
  margin-left: 30%;
  text-align: center;
}
//inside knockknocks modal
#knockKnockModalFade {
  background-image: url('./public/images/bc9963fdfbf5fd0c57b742c6435215f5.gif');
  background-color: black;
  color: red;
  background-size: 33%;
}

//acrossRoads modal button
.acrossRoads {
  display: inline;
  text-align: center;
}
//inside acrossRoads modal
#acrosRoadsModalFade {
  background-color: black;
  background-image: url('./public/images/f3d341077bdc1e4cce2c6a0b9b3d0e88.gif');
  color: red;
  background-size: 53%;
}

//walkIns modal button
.walkIns {
  display: inline;
  text-align: center;
}
//inside walkIns modal
#walkInModalFade {
  background-color: black;
  background-image: url('./public/images/95cf6a98d1634204-background-gif-by-michael-shillingburg-find-share-on-giphy.gif');
  color: red;
  background-size: 75%
}

//puns modal button
.puns {
  display: inline;
  text-align: center;
}
//inside puns modal
#punModalFade {
  background-image: url('./public/images/67284e3627da6f9f-cool-background-gifs-3-background-check-all.gif');
  background-color: black;
  color: red;
  background-size: 25%;
}

// controls the button position and styles inside the modals
.jokesCustomize {
  // display: inline;
  margin-left: 42%;
  margin-top: 1%;
  // position:absolute; bottom:30%; right:42%;
}
// controls the inside of the joke customize button
#jokesCustomButton {
  animation: jokeColorChange 15s infinite;
  @keyframes jokeColorChange {
  0% { color: red }
  15% { color: orange }
  30% { color: yellow }
  45% { color: green }
  60% { color: blue }
  75% { color: indigo }
  95% { color: violet } 
  100% { color: red }
  }
}

// controls the inside of the actual modal button
#createJokes {
  display: inline;
  text-align: center;
  color:red;
}

#close {
  position:absolute; bottom:0%; left:0%;
}

#create {
  position:absolute; bottom:0%; right:0%;
}

#xClose {
  color: cyan;
}

// all of create a joke stuff
// the form inside the modal
#createJokes {
  display: inline;
  text-align: center;
}
// the button
#createAJoke {
  border-radius: 5px;
  background-color: darkcyan;
}
// the close button
#closeCreate {
  position:absolute; bottom:0%; left:0%;
  color: red;
  background-color: black;
}
// the create button
#createCreate {
  position:absolute; bottom:0%; right:0%;
  color: cyan;
  background-color: black;
}
// the create a joke message
#createJokesMessage {
  position: absolute; left: 25%;
}

// all of update a joke stuff
#updateJokes {
  display: inline;
  text-align: center;
}
#updateAJoke {
  border-radius: 5px;
  background-color: darkcyan;
}
#closeUpdate {
  position:absolute; bottom:0%; left:0%;
  color: red;
  background-color: black;
}
#createUpdate {
  position:absolute; bottom:0%; right:0%;
  color: cyan;
  background-color: black;
}
#updateJokesMessage {
  position: absolute; left: 25%;
}

// all of delete a joke stuff
#deleteJokes {
  display: inline;
  text-align: center;
}
#deleteAJoke {
  border-radius: 5px;
  background-color: darkcyan;
}
#closeDelete {
  position:absolute; bottom:0%; left:0%;
  color: red;
  background-color: black;
}
#createDelete {
  position:absolute; bottom:0%; right:0%;
  color: cyan;
  background-color: black;
}
#deleteJokesMessage {
  position: absolute; left: 25%;
}

// all of show a joke stuff
#showJokes {
  display: inline;
  text-align: center;
}
#showAJoke {
  border-radius: 5px;
  background-color: darkcyan;
}
#closeShow {
  position:absolute; bottom:0%; left:0%;
  color: red;
  background-color: black;
}
#createShow {
  position:absolute; bottom:0%; right:0%;
  color: cyan;
  background-color: black;
}
#showJokesMessage {
  position: absolute; left: 25%;
}